SPRING_DATASOURCE_URL=<supabase-url>
SPRING_DATASOURCE_USERNAME=<your-datasource-username>
SPRING_DATASOURCE_PASSWORD=<your-datasource-password>

JWT_SECRET_KEY=<your-jwt-secret-key>

EXCHANGERATE_API_KEY=<api-key-for-exchangerate-api>

SUPPORT_EMAIL=<support@email.com>
APP_PASSWORD=<your-google-app-password>